# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: vh83
    queue: all
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '01:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 4
        walltime: '00:30'
        mem: 16
        modules:
            - 'bwa/0.7.12'
            - 'samtools/1.3.1'
            - 'gnuparallel/20160822'
    
    apply_undr_rover:
        cores: 1
        walltime: '06:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    # Sort the BAM file with Picard
    sort_bam_picard:
        cores: 1
        walltime: '00:30'
        mem: 8 
        modules:
            - 'picard/2.9.2'

    primary_bam:
        cores: 1
        walltime: '01:00'
        modules:
            - 'samtools/1.3.1'
    
    index_sort_bam_picard:
        walltime: '01:00'
        mem: 30
        modules:
            - 'picard/2.9.2'
            - 'samtools/1.3.1'
    
    call_haplotypecaller_gatk:
        walltime: '01:30'
        mem: 16
        modules:
            - 'gatk/3.7'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        cores: 1
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'
    
    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        cores: 8
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'
    
    # Replicate/control genotyping stage
    genotype_gvcf_gatk_replicates_collate:
        cores: 4
        walltime: '00:40'
        mem: 16
        modules:
            - 'gatk/3.7'

    merge_genotyped_replicates:
        walltime: '00:20'
        mem: 16
        modules:
            - 'gatk/3.7'
    
    variant_annotator_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    apply_variant_filtration_gatk:
        walltime: '01:00'
        mem: 30
        modules:
            - 'gatk/3.7'

    # run VEP annotation
    apply_vep:
        cores: 1
        walltime: '01:00'
        modules:
            - 'vep/90'

    intersect_bed:
        walltime: '01:00'
        mem: 30
        modules:
            - 'bedtools/2.26.0'        

    coverage_bed:
        walltime: '01:00'
        mem: 30
        modules:
            - 'bedtools/2.26.0'
    
    genome_reads:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'
    
    target_reads:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'
    
    total_reads:
        walltime: '01:00'
        mem: 30
        modules:
            - 'samtools/1.3.1'

#    generate_stats:
#        walltime: '01:00'
#        mem: 32
#        modules:
#            - 'R/3.4.3'

    select_variants_snps_gatk:
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'
    
    select_variants_indels_gatk:
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    apply_variant_filtration_snps_gatk:
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    apply_variant_filtration_indels_gatk:
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    merge_filtered_vcfs_gatk:
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'

    left_align_split_multi_allelics:
        walltime: '01:00'
        mem: 8
        modules:
            - 'gatk/3.7'

##after undr_rover settings

    sort_vcfs:
        walltime: '01:00'
        mem: 4
        modules:
            - 'bcftools/1.6'

    index_vcfs:
        walltime: '01:00'
        mem: 2
        modules:
            - 'bcftools/1.6'
    concatenate_vcfs:
        walltime: '01:00'
        mem: 8
        modules:
            - 'bcftools/1.6'

    index_final_vcf:
        walltime: '01:00'
        mem: 8
        modules:
            - 'bcftools/1.6'

pipeline_id: 'hiplex'

# Location of genome for mapping
ref_grch37: /projects/vh83/reference/genomes/b37/bwa_0.7.12_index/human_g1k_v37_decoy.fasta

#project specific variables

#undr_rover specific files and settings
coord_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.roverfile_g37.bed
primer_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.undrroverfile.txt
proportionthresh: 0.2
absthresh: 20
maxvariants: 20

#bam_clipper
primer_bedpe_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.bamclipper.bedpe_b37.txt

#GATK and Picard
interval_file: /projects/vh83/reference/brastrap_specific/BRA-STRAP_621717_100.final.roverfile_g37.numsort.bed

# general m3.massive paths for re-used variables
dbsnp_hg19: /projects/vh83/reference/genomes/b37/accessory_files/dbsnp_138.b37.vcf
mills_hg19: /projects/vh83/reference/genomes/b37/accessory_files/Mills_and_1000G_gold_standard.indels.b37.vcf
one_k_g_indels: /projects/vh83/reference/genomes/b37/accessory_files/1000G_phase1.indels.b37.vcf
one_k_g_snps: /projects/vh83/reference/genomes/b37/accessory_files/
one_k_g_highconf_snps: /projects/vh83/reference/genomes/b37/accessory_files/1000G_phase1.snps.high_confidence.b37.vcf
hapmap: /projects/vh83/reference/genomes/b37/accessory_files/hapmap_3.3.b37.vcf

#executable paths
bamclipper: /projects/vh83/local_software/bamclipper/bamclipper.sh

#--offine command line argument for VEP
other_vep: /usr/local/vep/90/ensembl-vep/cache
vep_brcaex: /projects/vh83/reference/annotation_databases/BRCA-Exchange/BRCA-exchange_accessed-180118/BRCA-exchange_accessed-180118.sort.vcf.gz
vep_gnomad: /projects/vh83/reference/annotation_databases/gnomAD/gnomad.exomes.r2.0.2.sites/gnomad.exomes.r2.0.2.sites.vcf.gz
vep_revel: /projects/vh83/reference/annotation_databases/REVEL/REVEL-030616/revel_all_chromosomes.vcf.gz
vep_maxentscan: /projects/vh83/reference/annotation_databases/MaxEntScan/MaxEntScan_accessed-240118
vep_exac: /projects/vh83/reference/annotation_databases/ExAC/ExAC_nonTCGA.r0.3.1/ExAC_nonTCGA.r0.3.1.sites.vep.vcf.gz
vep_dbnsfp: /projects/vh83/reference/annotation_databases/dbNSFP/dbNSFPv2.9.3-VEP/dbNSFP-2.9.3.gz
vep_dbscsnv: /projects/vh83/reference/annotation_databases/dbscSNV/dbscSNV1.0-VEP/dbscSNV.txt.gz
vep_cadd: /projects/vh83/reference/annotation_databases/CADD/CADD-v1.3/1000G_phase3.tsv.gz

# The input FASTQ files.

fastqs:
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-C09-BS004175_S451_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-C09-BS004175_S451_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-G12-BS004175_R_S575_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-G12-BS004175_R_S575_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-H10-BS002566_S176_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-H10-BS002566_S176_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-G12-BS002566_R_S266_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-G12-BS002566_R_S266_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-E11-BS000661_S85_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-E11-BS000661_S85_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-G12-BS000661_R_S191_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-G12-BS000661_R_S191_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-A09-BS000065_S417_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-A09-BS000065_S417_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-G12-BS000065_R_S663_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-G12-BS000065_R_S663_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-F01-BS004312_S6_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-F01-BS004312_S6_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-F12-BS004312_R_S94_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-F12-BS004312_R_S94_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-F12-BS002534_R_S190_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-F12-BS002534_R_S190_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-H06-BS002534_S144_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-H06-BS002534_S144_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-D08-BS003776_S156_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-D08-BS003776_S156_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-G12-BS003776_R_S671_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-G12-BS003776_R_S671_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-F03-BS000022_S326_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-F03-BS000022_S326_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-F12-BS000022_R_S470_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-F12-BS000022_R_S470_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-D05-BS004433_S132_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-D05-BS004433_S132_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-F12-BS004433_R_S190_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-F12-BS004433_R_S190_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-B07-BS004262_S530_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-B07-BS004262_S530_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-F12-BS004262_R_S574_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-F12-BS004262_R_S574_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-G07-BS002631_S226_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-G07-BS002631_S226_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-G12-BS002631_R_S362_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-G12-BS002631_R_S362_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-A09-BS004370_S65_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-A09-BS004370_S65_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-G12-BS004370_R_S191_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-G12-BS004370_R_S191_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-C09-BS000163_S611_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-C09-BS000163_S611_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-G12-BS000163_R_S279_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-G12-BS000163_R_S279_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0022-B05-BS005080_S226_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0022-B05-BS005080_S226_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0022-F12-BS005080_R_S286_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0022-F12-BS005080_R_S286_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-F09-BS002824_S433_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-F09-BS002824_S433_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-G12-BS002824_R_S554_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-G12-BS002824_R_S554_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-F12-BS003816_R_S670_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-F12-BS003816_R_S670_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-H01-BS003816_S584_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-H01-BS003816_S584_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-A09-BS004461_S161_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0015-A09-BS004461_S161_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-G12-BS004461_R_S287_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-G12-BS004461_R_S287_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-E04-BS000701_S125_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-E04-BS000701_S125_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-F12-BS000701_R_S190_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-F12-BS000701_R_S190_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0007-B09-BS003686_S66_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0007-B09-BS003686_S66_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-G12-BS003686_R_S191_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-G12-BS003686_R_S191_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-A03-BS002953_S572_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-A03-BS002953_S572_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-F07-BS002953_R_S609_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-F07-BS002953_R_S609_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-C06-BS002619_S214_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-C06-BS002619_S214_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-F12-BS002619_R_S265_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0003-F12-BS002619_R_S265_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0016-F09-BS000768_R_S165_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0016-F09-BS000768_R_S165_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0016-G05-BS000768_S134_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0016-G05-BS000768_S134_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-F12-BS001079_R_S574_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-F12-BS001079_R_S574_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-G03-BS001079_S503_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-G03-BS001079_S503_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-C03-BS003121_S211_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-C03-BS003121_S211_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-G12-BS003121_R_S383_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-G12-BS003121_R_S383_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-F12-BS003171_R_S286_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-F12-BS003171_R_S286_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-G08-BS003171_S255_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-G08-BS003171_S255_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-C05-BS000611_S35_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-C05-BS000611_S35_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-F12-BS000611_R_S94_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-F12-BS000611_R_S94_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-B06-BS003951_S234_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-B06-BS003951_S234_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-F12-BS003951_R_S286_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-F12-BS003951_R_S286_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-G05-BS000423_S559_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-G05-BS000423_S559_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-G12-BS000423_R_S287_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-G12-BS000423_R_S287_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-A03-BS000785_S209_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-A03-BS000785_S209_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-F12-BS000785_R_S286_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-F12-BS000785_R_S286_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-B05-BS001378_S98_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-B05-BS001378_S98_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-F12-BS001378_R_S270_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-F12-BS001378_R_S270_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-C11-BS004090_S371_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-C11-BS004090_S371_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-G12-BS004090_R_S479_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-G12-BS004090_R_S479_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-D11-BS000468_S598_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-D11-BS000468_S598_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-F12-BS000468_R_S670_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-F12-BS000468_R_S670_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-F12-BS003368_R_S478_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-F12-BS003368_R_S478_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-H06-BS003368_S432_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-H06-BS003368_S432_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-F01-BS004494_S198_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-F01-BS004494_S198_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-F12-BS004494_R_S286_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-F12-BS004494_R_S286_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-H09-BS002734_S339_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-H09-BS002734_S339_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-G12-BS002734_R_S458_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-G12-BS002734_R_S458_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-F12-BS000360_R_S478_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-F12-BS000360_R_S478_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-H09-BS000360_S432_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-H09-BS000360_S432_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-E10-BS003301_S365_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-E10-BS003301_S365_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-F12-BS003301_R_S382_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-F12-BS003301_R_S382_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-C08-BS003488_S539_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-C08-BS003488_S539_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0006-G12-BS003488_R_S671_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0006-G12-BS003488_R_S671_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-A07-BS003958_S241_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-A07-BS003958_S241_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-G12-BS003958_R_S383_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-G12-BS003958_R_S383_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-C04-BS003346_S411_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-C04-BS003346_S411_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-G12-BS003346_R_S575_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-G12-BS003346_R_S575_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0006-F12-BS003554_R_S670_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0006-F12-BS003554_R_S670_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0006-H04-BS003554_S608_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0006-H04-BS003554_S608_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-F12-BS002741_R_S361_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-F12-BS002741_R_S361_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-G10-BS002741_S346_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0004-G10-BS002741_S346_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-F12-BS000871_R_S382_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-F12-BS000871_R_S382_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-G01-BS000871_S295_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-G01-BS000871_S295_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-D10-BS002470_S76_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-D10-BS002470_S76_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-G12-BS002470_R_S191_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0002-G12-BS002470_R_S191_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-E09-BS001125_S549_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-E09-BS001125_S549_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-G12-BS001125_R_S671_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-G12-BS001125_R_S671_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0007-F02-BS003632_S14_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0007-F02-BS003632_S14_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0007-F12-BS003632_R_S94_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0007-F12-BS003632_R_S94_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-H07-BS000344_S400_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-H07-BS000344_S400_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-G12-BS000344_R_S671_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0005-G12-BS000344_R_S671_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-A09-BS004071_S353_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-A09-BS004071_S353_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-F12-BS004071_R_S382_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0011-F12-BS004071_R_S382_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-B08-BS005013_S154_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-B08-BS005013_S154_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0022-G12-BS005013_R_S287_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0022-G12-BS005013_R_S287_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0017-A04-BS004607_S313_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0017-A04-BS004607_S313_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0017-F12-BS004607_R_S382_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0017-F12-BS004607_R_S382_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0019-E03-BS004792_S501_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0019-E03-BS004792_S501_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0019-F12-BS004792_R_S574_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0019-F12-BS004792_R_S574_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-B01-BS004104_S386_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-B01-BS004104_S386_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-F12-BS004104_R_S478_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0012-F12-BS004104_R_S478_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-F08-BS004274_S542_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0013-F08-BS004274_S542_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-G12-BS004274_R_S95_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0014-G12-BS004274_R_S95_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-A02-BS000201_S33_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-A02-BS000201_S33_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-G12-BS000201_R_S479_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0004-G12-BS000201_R_S479_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-C04-BS003740_S123_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-C04-BS003740_S123_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-F12-BS003740_R_S190_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0008-F12-BS003740_R_S190_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-A11-BS001233_S657_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-A11-BS001233_S657_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-G12-BS001233_R_S94_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-G12-BS001233_R_S94_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-B09-BS003287_S354_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0003-B09-BS003287_S354_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-G12-BS003287_R_S479_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0004-G12-BS003287_R_S479_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-D02-BS001260_S11_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-D02-BS001260_S11_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-F12-BS001260_R_S93_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-F12-BS001260_R_S93_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-F12-BS000103_R_S662_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-F12-BS000103_R_S662_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-G01-BS000103_S487_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0002-G01-BS000103_S487_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-A03-BS003826_S593_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0009-A03-BS003826_S593_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-G12-BS003826_R_S287_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0010-G12-BS003826_R_S287_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-B08-BS000922_S346_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-B08-BS000922_S346_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-G12-BS000922_R_S479_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-G12-BS000922_R_S479_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-D08-BS000732_S156_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0008-D08-BS000732_S156_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-G12-BS000732_R_S287_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-G12-BS000732_R_S287_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-E05-BS004992_S133_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-E05-BS004992_S133_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-F12-BS004992_R_S190_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-F12-BS004992_R_S190_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-G12-BS001365_R_S471_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0001-G12-BS001365_R_S471_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-E03-BS001365_S53_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-E03-BS001365_S53_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-A06-BS002795_S404_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-A06-BS002795_S404_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-F12-BS002795_R_S457_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0005-F12-BS002795_R_S457_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-H07-BS001304_S55_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0014-H07-BS001304_S55_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-G12-BS001304_R_S271_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-G12-BS001304_R_S271_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-A08-BS000537_S185_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-A08-BS000537_S185_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-F12-BS000537_R_S286_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-F12-BS000537_R_S286_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-E11-BS001429_S245_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0015-E11-BS001429_S245_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0016-G09-BS001429_R_S166_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0016-G09-BS001429_R_S166_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-A05-BS000513_S113_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0006-A05-BS000513_S113_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-G12-BS000513_R_S95_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0007-G12-BS000513_R_S95_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-E04-BS001181_S605_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-E04-BS001181_S605_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-F12-BS001181_R_S670_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0013-F12-BS001181_R_S670_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-D08-BS002905_S519_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-D08-BS002905_S519_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-F12-BS002905_R_S553_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-F12-BS002905_R_S553_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-F12-BS002402_R_S94_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-F12-BS002402_R_S94_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-G01-BS002402_S7_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-G01-BS002402_S7_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-B08-BS002903_S517_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0006-B08-BS002903_S517_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-G07-BS002903_R_S610_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-G07-BS002903_R_S610_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-F03-BS000982_S406_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-F03-BS000982_S406_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-F12-BS000982_R_S478_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-F12-BS000982_R_S478_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-C07-BS003480_S531_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-C07-BS003480_S531_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-F12-BS003480_R_S574_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0005-F12-BS003480_R_S574_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-C11-BS004572_S275_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0016-C11-BS004572_S275_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0017-G12-BS004572_R_S383_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0017-G12-BS004572_R_S383_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-H05-BS000808_S232_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0009-H05-BS000808_S232_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-G12-BS000808_R_S383_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0010-G12-BS000808_R_S383_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-D04-BS000220_S84_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-D04-BS000220_S84_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-F12-BS000220_R_S278_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0003-F12-BS000220_R_S278_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-A10-BS001033_S457_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0011-A10-BS001033_S457_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-G12-BS001033_R_S575_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WM_0012-G12-BS001033_R_S575_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-C10-BS004939_S651_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-C10-BS004939_S651_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-G12-BS004939_R_S191_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0021-G12-BS004939_R_S191_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-G12-BS002982_R_S95_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0001-G12-BS002982_R_S95_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-G06-BS002982_S602_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_MD_0007-G06-BS002982_S602_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0019-F08-BS004834_S542_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0019-F08-BS004834_S542_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-G12-BS004834_R_S671_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-G12-BS004834_R_S671_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0001-D11-BS003091_S84_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0001-D11-BS003091_S84_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-G12-BS003091_R_S287_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0002-G12-BS003091_R_S287_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-B07-BS004914_S626_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-B07-BS004914_S626_R2_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-F12-BS004914_R_S670_R1_001.fastq.gz
    - /projects/vh83/projects/brastrap/fastq/BST_WA_0020-F12-BS004914_R_S670_R2_001.fastq.gz
